<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'https://unicons.iconscout.com/release/v4.0.8/css/line.css'%}">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="#" class="login1">
                   <div class="inputs field6 email-field">
                        <div class="input-field">
                                <input type="text" placeholder="Enter your email" required class="email">
                                <i class="uil uil-envelope icon"></i>
                        </div>

                        <span class="error email-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">Please enter a valid email</p>
                        </span>

                   </div>

                   <div class="inputs field7 password-field0">
                        <div class="input-field">
                            <input type="password" class="password pass0" placeholder="Enter your password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>

                        <span class="error password-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">Incorrect Password
                            </p>
                        </span>
                    </div>

                    <div class="input-field button">
                        <input type="button"  value="Login Now" onclick="window.location.herf='user.html'">
                   </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text signup-text">Signup now</a>
                    </span>
                </div>
            </div>


            <div class="form signup">
                <span class="title">Registration</span>

                <form action="https://www.google.com/" class="signup1">
                   <div class="inputs field1 name-field">
                        <div class="input-field">
                                <input type="text" placeholder="Enter your name" required class="name">
                                <i class="uil uil-user"></i>
                        </div>

                        <span class="error name-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">Please enter a valid name</p>
                        </span>

                    </div>

                    <div class="inputs field2  email-field1">
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" required class="email1">
                            <i class="uil uil-envelope icon"></i>
                        </div>

                        <span class="error email-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">Please enter a valid email</p>
                        </span>

                    </div>
               
                    <div class="inputs field3 password-field1">
                        <div class="input-field">
                                <input type="password" class="password pass1" placeholder="Create a password" required>
                                <i class="uil uil-lock icon"></i>
                        </div>

                        <span class="error password-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">
                              Please enter at least 8 charatcer with number, symbol, small and
                              capital letter.
                            </p>
                        </span>
                    </div>
                    
                    <div class="inputs field4 c-password-field">
                        <div class="input-field">
                            <input type="password" class="password c-pass" placeholder="Confirm password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>

                        <span class="error cPassword-error">
                            <i class="uil uil-info-circle"></i>
                            <p class="error-text">Passwords don't match</p>
                        </span>

                    </div>

                    <div class="input-field button">
                        <input type="button" value="Register Now" onclick="">
                   </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="#" class="text login-link">Login now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>